.staff-form.ui.form {
  max-width: 600px;
  margin: 60px auto;

  .inline.field > label.ui.primary.button {
    color: white;
  }
}

.buttons-align-wrapper {
  text-align: center;
  margin-top: 50px;

  .inline.field > label.ui.button {
    margin-bottom: 20px;
  }
}
